{% extends 'base.html' %}

{% block content %}
    <main>
        <section id="mission" class="section">
            <h2>Our Mission</h2>
            <p>At Adventure Awaits, our mission is to inspire and empower people to explore the world and discover new adventures. We believe that travel has the power to broaden horizons, foster personal growth, and create lasting memories.</p>
        </section>
        <section id="team" class="section">
            <h2>Our Team</h2>
            <div class="team-members">

                <div class="team-member">
                    <img src="/static/images/team2.jpg" alt="Team Member 2">
                    <h3>Jane Smith</h3>
                    <p>Head of Operations</p>
                </div>
                <div class="team-member">
                    <img src="/static/images/team3.jpg" alt="Team Member 3">
                    <h3>Emily Johnson</h3>
                    <p>Marketing Manager</p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}