{% extends 'base.html' %}

{% block content %}


    <main>
        <div>{{n}}</div>
        <section id="contact-form" class="section">
            
            <h2>Get in Touch</h2>
            <form method="post" action="{% url 'saveenquiry' %}" id="contact-form" role="form" novalidate="novalidate" class="bv-form">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input class="form-control" type="text" name="name" id="name" value="" required="" placeholder="Name" class="name" data-error="leave a message">
                
                <label for="email">Email:</label>
                <input class="form-control" type="text" name="email" id="email" value="" required="" placeholder="email" class="email" data-error="leave a message">
                
                <label for="message">Message:</label>
                <input class="form-control" type="text" name="message" id="message" value="" required="" placeholder="message" class="message" data-error="leave a message">
                
                
                <button type="submit" name="save" value="submit" class="submit" >Send Message</button>
            </form>
        </section>
        <section id="contact-info" class="section">
            <h2>Contact Information</h2>
            <div class="contact-details">
                <p><strong>Address:</strong> 123 Adventure St, Adventureland</p>
                <p><strong>Email:</strong> info@adventureawaits.com</p>
                <p><strong>Phone:</strong> +1 (555) 123-4567</p>
            </div>
        </section>
    </main>

{% endblock %}