{% extends 'base.html' %}

{% block content %}

    <main>
        <section id="gallery" class="section">
            <h2>Gallery</h2>
            <div class="gallery">
                <img src="/static/images/gallery1.jpg" alt="Gallery Image 1">
                <img src="/static/images/gallery2.jpg" alt="Gallery Image 2">
                <img src="/static/images/gallery3.jpg" alt="Gallery Image 3">
                <img src="/static/images/gallery4.jpg" alt="Gallery Image 4">
            </div>
        </section>
    </main>

    
{% endblock %}